<!DOCTYPE html>
<html lang="en">
<head>
    <link th:href = "@{/css/styles.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
<nav>
    <div class="nav-left">
        <a href="#" class="nav-item">
            <i class="fa fa-home" aria-hidden="true"></i>
            Home
        </a>
        <a href="#" class="nav-item">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            About
        </a>
        <a href="#" class="nav-item">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            Services
        </a>
    </div>
    <div class="nav-center">
        <a href="#" class="nav-item">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            Facebook
        </a>
        <a href="#" class="nav-item">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            Twitter
        </a>
    </div>
    <div class="nav-right">
        <a href="#" class="nav-item">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            Sign Up
        </a>
        <a href="#" class="nav-item">
            <i class="fa fa-sign-in" aria-hidden="true"></i>
            Sign in
        </a>
    </div>
</nav>
</body>
</html>