<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org" xmlns:sec="http://wwww.thymeleaf.org/extras/sping-security">
<head>
    <link th:href = "@{/css/styles.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body style="height: 100%">
<nav>
    <div class="nav-left">
        <a href="#" class="nav-item">
            <i class="fa fa-home" aria-hidden="true"></i>
            Home
        </a>
    </div>
    <div class="nav-right">
        <a href="#" class="nav-item">
            <i class="fa fa-user" aria-hidden="true"></i>
            Myself
        </a>
        <form id="logOutForm" action="#" th:action="@{/logout}" method="POST" style="display: none"></form>
        <a href="#" class="nav-item" onclick="document.getElementById('logOutForm').submit();">
            <i class="fa fa-sign-in" aria-hidden="true"></i>
            Log out
        </a>
    </div>
</nav>

<div class="container" style="height: calc(100% - 50px); display: flex; flex-direction: column; align-items: center; justify-content: center; padding-top: 200px">
    <div class="inner-container" style="display: flex; flex-direction: column; gap: 10px;">
        <div style="padding-top: 20px;">
            <a th:href="@{/cursos}">
                Ver clases
            </a>
        </div>
    </div>
</div>
</body>
</html>